/* Authform.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
  width: 100%; /* Чтобы контейнер занимал всю ширину */
  max-width: 500px; /* Ограничение ширины формы, чтобы она не растягивалась слишком сильно на больших экранах */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.inputErrors {
  width: 100%;
}

.input {
  width: 100%; /* Инпуты будут занимать всю доступную ширину */
  height: 40px; /* Увеличена высота для лучшего визуального восприятия */
  border-radius: 10px;
  border: 2px solid #454545;
  padding: 0 10px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box; /* Чтобы padding не влиял на ширину */
}

.input:active,
.input:focus {
  border-color: #fdce70;
}

.btn {
  width: fit-content;
  margin: 0 auto;
  padding: 5px 20px;
  color: #454545;
  border: 2px solid #454545;
  border-radius: 10px;
  outline: none;
  transition:
    color 0.5s ease,
    border-color 0.5s ease;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  color: #fdce70;
  border-color: #fdce70;
}

.passwordChange {
  color: #fdce70;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.passwordChange:hover {
  color: #fdc149;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
